/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.red-snackbar {
   --mdc-snackbar-container-color: #F44336;
   --mat-mdc-snack-bar-button-color: #F44336;
   --mdc-snackbar-supporting-text-color: #fff;
 }
}

.mat-mdc-snack-bar-container {
&.green-snackbar {
   --mdc-snackbar-container-color: #27af56;
   --mat-mdc-snack-bar-button-color:  #27af56;
   --mdc-snackbar-supporting-text-color: #1e1a1a;
 }
}
